body {
  padding-top: 72px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*Utilities*/
.digitalocean-color {
  color: #0080ff;
}

.color-white {
  color: #fff;
}

.font-500 {
  font-weight: 500;
  font-size: 23px;
}

.color-black {
  color: #000;
}

.float-left {
  float: left;
}
/*Utilities End*/

/*Header*/
header {
  background-color: #fff;
  padding-top: 10px;
}

header .container .row div img {
  max-width: 37px;
  float: left;
  padding-right: 10px;
}

header a {
  text-decoration: none;
  color: #000;
}

.digitalocean {
  font-weight: 700;
  font-size: 22px;
  line-height: -1;
}

.col-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-logo ul,
.col-logo p {
  line-height: 2;
}

.header-button {
  border-color: #0080ff;
}

.line-height {
  line-height: 2;
}
/*Header End*/

/*Jumbotron*/
#jumbotron {
  background-image: url('../img/bg-banner-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#jumbotron .container {
  padding: 50px 0 50px;
}

.jumbotron-h1 {
  font-weight: 700;
  font-size: 60px;
}

.jumbotron-p {
  color: #ccdaff;
}

.form-col {
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 30px;
}

.btn-bg-blue {
  background-color: #0080ff;
}

.google-icon {
  max-width: 20px;
  display: inline;
}

.btn-sign {
  padding-bottom: 0px;
}

.terms {
  font-size: 12px;
}
/*Jumbotron End*/

/*Main*/
/*Customer*/
#customer {
  background-color: #f3f5f9;
  padding: 50px 0 30px;
}

#customer img {
  max-width: 150px;
}

#customer span {
  font-weight: 500;
  color: #4e5f83;
}

.img-col {
  position: relative;
}

.img-col img {
  position: absolute;
  top: 10%;
}
/*Customer End*/

/*Deploy*/

/*Deploy End*/
/*Main End*/
