body {
  padding-top: 72px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*Utilities*/
.digitalocean-color {
  color: #0080ff;
}

.color-black {
  color: #000;
}

.color-white {
  color: #fff;
}

.dark-grey {
  color: #516285;
}

.font-500 {
  font-weight: 500;
  font-size: 23px;
}

.bold {
  font-weight: 700;
}

.main-h2 {
  font-size: 40px;
}

.dark-blue {
  color: #031b4e;
}

.bg-grey {
  background-color: #f3f5f9;
}

.float-left {
  float: left;
}
/*Utilities End*/

/*Header*/
header {
  background-color: #fff;
  padding-top: 10px;
}

header .container .row div img {
  max-width: 37px;
  float: left;
  padding-right: 10px;
}

header a {
  text-decoration: none;
  color: #000;
}

.digitalocean {
  font-weight: 700;
  font-size: 22px;
  line-height: -1;
}

.col-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-logo ul,
.col-logo p {
  line-height: 2;
}

.header-button {
  border-color: #0080ff;
}

.line-height {
  line-height: 2;
}
/*Header End*/

/*Jumbotron*/
#jumbotron {
  background-image: url('../img/bg-banner-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#jumbotron .container {
  padding: 50px 0 50px;
}

.jumbotron-h1 {
  font-weight: 700;
  font-size: 60px;
}

.grey-p {
  color: #ccdaff;
}

.form-col {
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 30px;
}

.btn-bg-blue {
  background-color: #0080ff;
}

.google-icon {
  max-width: 20px;
  display: inline;
}

.btn-sign {
  padding-bottom: 0px;
}

.terms {
  font-size: 12px;
}
/*Jumbotron End*/

/*Main*/
/*Customer*/
#customer {
  padding: 50px 0 30px;
}

#customer img {
  max-width: 150px;
}

#customer span {
  font-weight: 500;
  color: #99a3b8;
}

.img-col {
  position: relative;
}

.img-col img {
  position: absolute;
  top: 10%;
}

#customer a {
  color: #0080ff;
}
/*Customer End*/

/*Deploy*/
#deploy {
  padding: 60px 0 40px;
}

.deploy-title {
  margin-bottom: 50px;
}

#deploy blockquote {
  margin-bottom: 30px;
}

.col-deploy-height {
  margin-bottom: 30px;
}
/*Deploy End*/

/*Designed*/
#designed {
  padding: 50px 0 50px;
}

.fa-circle {
  font-size: 14px;
  margin-left: 0px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-weight: 700;
  font-size: 40px;
  color: #031b4e;
}

.designed-col img {
  max-width: 100%;
}

.slider {
  position: relative;
}

.slider .fa-chevron-left,
.slider .fa-chevron-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider .fa-chevron-left {
  left: -40px;
}

.slider .fa-chevron-right {
  right: -40px;
}

.slider .fa-chevron-left:hover,
.slider .fa-chevron-right:hover {
  color: #0080ff;
  cursor: pointer;
}

#designed a {
  color: #0080ff;
}
/*Designed End*/

/*Features*/
#features {
  padding: 40px 0 50px;
}

#features a {
  color: #0080ff;
}
/*Features End*/

/*Service*/
#service {
  padding: 50px 0 30px;
  background-image: linear-gradient(#0049ff, #010e28);
}

.service-title {
  margin-bottom: 20px;
}

.service-margin {
  margin-bottom: 40px;
}

.service-col {
  padding: 5px 1px 5px;
}

.service-border {
  border-bottom: 1px solid #fff;
}

.test {
  font-size: 14px;
}

#service a {
  color: #0080ff;
}
/*Service End*/

/*Team*/
#team {
  padding: 50px 0 50px;
}

#team a {
  color: #0080ff;
}

.team-title {
  margin-bottom: 80px;
}

.slider-padding {
  padding: 100px 2px 100px;
  background-color: #fff;
}

.slider-padding img {
  max-width: 100%;
}
/*Team End*/
/*Main End*/

/*Footer*/
footer {
  background-color: #010e28;
  padding-bottom: 60px;
}

/*Footer Up*/
#footer-up {
  padding: 70px 0 70px;
  background-color: #0049ff;
}
/*Footer Up End*/

/*Footer Down*/
#footer-down {
  padding: 70px 0 70px;
  background-color: #010e28;
  position: relative;
}

#footer-down h4 {
  font-size: 16px;
}

#footer-down a,
#footer-down h4:first-of-type {
  color: grey;
}

.list-margin li {
  margin-bottom: 10px;
}
/*Footer Down End*/
/*Footer End*/

/*Chat*/
#chat {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.help,
.shark {
  display: inline-block;
  float: left;
}

.shark img {
  width: 100%;
  max-width: 80px;
}

.shark {
  background-color: #0066c0;
  position: relative;
  border-radius: 5px;
}

.shark::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  background: red;
  border: 2px solid #fff;
  border-radius: 50%;
}

.help {
  position: relative;
  width: 300px;
  padding: 10px;
  background: #fff;
  line-height: 1.45;
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  margin-right: 20px;
}

.help::before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  /* Rotazione */
  transform: rotate(45deg);
}
/*Chat End*/
